/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* 
html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

h1,
h2,
h4 {
    font-size: 100%;
}

select,
div,
pre {
    font-size: 100%;
    font-family: sans-serif;
}

div.box {
    padding: auto;
    margin: ;
}

ol,
ul {
    list-style: none;
} */